h1 {
    color: ghostwhite;
    text-align: center;
    font-size: 64px;
    font-family: Vanilla, fantasy;
    font-weight: 200;
  }
h2 {
    color:rgb(190, 190, 190);
    text-align:center;
    font-size: 25px;
    font-family: Permanent, fantasy;
    font-style:normal;
    font-weight: 200;
  }
h3{
  color:aliceblue;
  text-align: center;
  font-size: 25px;
  font-family: Permanent, fantasy;
  font-style: normal;
  font-weight: 200;
}
h4{
    color: rgb(255, 255, 255);
      text-align:center;
      font-size: 15px;
      font-family: Permanent, fantasy;
      text-align: center;
      font-weight: 200;
  }
h5{
    color: rgb(0, 0, 0);
      text-align:center;
      font-size: 30px;
      font-family: Vanilla, fantasy;
  }

h6 {
    color: rgb(255, 255, 255);
    text-align:center;
    font-size: 30px;
    font-family: Permanent, fantasy;
  }
/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.logo{

  text-decoration: none;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid rgb(0, 0, 0);
  background-color: #000000;
  width: 20%;
  height: 250px;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: rgb(255, 255, 255);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-family: Vanilla, sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: inherit;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgb(66, 12, 12);
}

/* Style the tab content */
.tabcontent {
  float: top;
  padding: 0px 12px;
  width: 95%;
  border-left: 3px solid rgb(66, 12, 12);
  height: 600px;
  display: none;
}


.example::-webkit-scrollbar {
  display: none;
}
.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* FONT INCLUSIONS */
@font-face {
    font-family: Permanent;
    src: url("../resources/PermanentMarker.ttf");
  }
  
  @font-face {
    font-family: Vanilla;
    src: url("../resources/VanillaExtractRegular.ttf");
  }